

.btn_sign{
    background-color: #664FC3;
}
.signin_twitter{
    background-color: #1D9BF0;
}

.btn_sign:hover{
    background-color: #937cee;
}

a{
    color: #937cee;
}
h2{
    margin-top: 70px;  
    font-size: 40px;
    color: rgb(34, 34, 34);
}

.signin_google{
    border: .7px solid rgb(52, 52, 52) ;
}
.signin_google:hover{
    background-color: rgb(221, 221, 221);
}

.wrapper{
    background-image: url('img/bgg.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
    min-height: 60%;
}